.box {
    width: 500px;
    height: 500px;
    background-color: red;
    text-align: center;
}

.box:hover {
    transition: width 3s, height 3s, background 3s, border-radius 3s, color 3s;
    width: 600px;
    height: 600px;
    background-color: #000;
    border-radius: 10px;
    color: blue;
}

h1:hover {
    transition: margin-left 3s;
    margin-left: 100px;
}